.flex{
    display: flex;
  }
  .align-items-center{
    align-items: center;
  }
  
  
  /*search-box*/
  
  .margin-top{
    top:40px;
  }

  .red {
    color:red;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
  }

  .header{
    position: fixed;
    background-color: white;
    display:flex;
    flex-direction:column;
    align-items:center;
  }